@font-face {
    font-family: "Domine-Bold";
    src: url('../font/Domine-Bold.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Domine-Bold';

}

header{
    width: 100%;
    background-color: #A73898;
    overflow: hidden;
}


.img{
    float: left;
    padding-top: 16px;
}
.header_logo{
    display: flex;
    justify-content: center;
}

.baba{
    float: left;
    color: white;
    padding-top: 22px;
}
.header_reg{
    font-size: 16px;
    color: white;
    float: right;
    padding-top: 20px;
    padding-bottom: 14px;
    padding-right: 18px;
    font-weight: 700;

}

a{
    color: white;
}
a:link{
    text-decoration: none;
}
main{
    overflow: hidden;
    background: #c9a3c4;
}

/*.top_menu{
    padding: 10px 25px 10px 40px;
    background-color: #c9a3c4;
    margin: 60px auto 0 auto;
    
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -10px;    
}

li{
    display: inline;
}
.active{
    display: block;
    background: #d44ac1;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
ul a{
    font-size: 12px;
    line-height: 45px;
}
*/
.hat{
    display: flex;
    background-image:  url(../images/hat.png);
    height: 200px;
    width:  100%;
}


.registration{
   background-color: white;
   min-width: 240px;
   height: 340px;
   margin-left: clamp(10px, 5%, 30px);
   margin-top: 60px;
   margin-right: clamp(10px, 100%, 30px);
   border-radius: 35px;
   margin-bottom: 40px;

}
.circle{
    position: relative;

    background-color: white;
    width: 73px;
    height: 66px;
    border-radius: 50%;
    top: -32px;
    margin: auto;

}
.heart{
    position: relative;
    width: 45px;
    height: 40px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    top: -85px;

}

.creator{
    position: relative;
    color: black;
    font-size: 22px;
    text-align: center;
    bottom: 60px;
   
}
.input{
text-align: center;
}
.name{
    position: relative;
    top: -30px;
    background-color: #EBEBEB;
    border-radius: 60px;
    height: 30px;
    border: none;
    min-width: 230px;

}
.surname{
    position: relative;
    background-color: #EBEBEB;
    border-radius: 60px;
    height: 30px;
    border: none;
    min-width: 230px;
    top: -17px;
}
.birthday{
    position: relative;
    background-color: #EBEBEB;
    border-radius: 60px;
    height: 30px;
    border: none;
    min-width: 220px;
    top: -4px;
}
.email{
    position: relative;
    background-color: #EBEBEB;
    border-radius: 60px;
    height: 30px;
    border: none;
    min-width: 230px;
    top: 9px;
}

#password-input{
    position: relative;
    background-color: #EBEBEB;
    border-radius: 60px;
    height: 30px;
    border: none;
    min-width: 230px;
    top: 22px;
    font-size: 16px;
}
.password-control {
    position: absolute;
    top: 338px;
    left: 160px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
#photo-upload{
    position: relative;
    overflow: hidden;
    background-color: #EBEBEB;
    width: 73px;
    height: 66px;
    border-radius: 50%;
    margin-left: 207px;
    top: 430px;
    right: 270px;
}
::placeholder{
    padding-left: 10px;
    font-size: 17px;

}

input[type="text"]{
    padding-left: 10px;
}
input[type="date"]{
    padding-left: 20px;
    opacity: 60%;
    font-size: 18px;
}
input[type="email"]{
    padding-left: 10px;
}
input[type="password"]{
    padding-left: 10px;
    font-size: 20px;
}

.superbutton {
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background: #A73898;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    top: 492px;
    right: 199px
}
footer{
    overflow:hidden;
    color:  white;
    background-color: #A73898;
    width: 100%;
    height: 110px;
}

.copyrite{
    float:left;
    padding: 50px 0 31px 20px;
    font-size: 10px;
}
.contacts{
    float: right;
    font-size: 9px;
    padding: 20px 20px 0 0;

}
